/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
.navbar-brand span{
    font-family: 'Audiowide';
}
.navbar-brand span:first-of-type{
    color: #117a8b;
    font-size: 30px;
}
.navbar-brand span:last-child{
    font-size: 22px;
    color:#17a2b8;
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #117a8b;
    color: #fff;
   
}

#sidebar .sidebar-header {
    padding:5px 20px;
    background: #17a2b8;
}
#sidebar .sidebar-header h5,#sidebar .sidebar-header strong{
    font-family: 'Handlee';
    
}
#sidebar ul.components {
    padding: 7px 0;
  
}
 


#sidebar ul li h6{
    /*border-bottom: 1px solid #47748b;*/
    text-align: center
}

#sidebar ul li h6 i{
background: #17a2b8;
 border-radius: 50%;
width:50px;
height:50px ;
font-size: 50px;
text-align: center;
 
}


#sidebar ul li a {
    padding: 7px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a{
    color: #fff;
    background: #17a2b8;

}
#sidebar ul li > a[data-toggle="collapse"]:after{
    content:"<" ;
   float:right;
   color:white;
   
}
#sidebar ul li> a.collapsed:after{
   
   content:">" ;
   float:right;
   color:white;

}
#sidebar ul li.active > a, a[aria-expanded="true"],#sidebar ul li> a:hover
 {
    color: #117a8b;
    background: #fff;
}



#sidebar ul li > a[data-toggle="collapse"]:hover:after {
    color: #117a8b;
  }
 #sidebar ul li> a.collapsed:hover:after{
      color: #117a8b;
  }
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #17a2b8;
}
 
  #sidebar {
    min-width: 250px;
    max-width: 250px;
   min-height: 100vh;
    z-index: 10000;
    position: fixed;
left: -300px;
top:0;
}
 
  
 
 
/* Shri}nking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h5 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li > a span{
    
    display: none;
}

 


/* Same dropdown links padding*/

#sidebar.active .components>li {
   position: relative; 
   padding: 5px;
}
#sidebar.active ul ul a {
 padding: 5px !important;
}
 
 #sidebar.active ul ul  {
    position: absolute ! important;
    left: 80px;
     top:0px;
     width: 200px;
     

   }
 #sidebar.active ul li:not(:last-child) h6{
    display: none

}
/*=============================================================*/
body > section:not(:first-of-type) {
    display:none;
 
}
/*==============================================================*/
.items .row div {
    color:#fff;
   text-align: center;
 }
 
.items .row div ul li{
    padding: 5px;
}

.items .row div   ul{
  list-style-type: none;
  text-align: center;
  padding: 50px 5px;
 
}
.items .row div .employee {
    background-color:#FF8C00;
}

.items .row div .student {
    background-color:#B22222;
}

.items .row div .product {
    background-color:#008000;
}

.items ul li>.fa{
    font-size: 35px
}
.items ul li span{
     padding: 7px;
 }
 .items ul li span i{
    padding: 7px;
}

 .items ul li span:first-of-type{
     border-right: 2px solid #fff;
 }
 /*========================================================*/

 option[value=""][disabled] {
    display: none;
  }

 .add-employee{
     background-color:#FF8C00;
     
 }
 .add-employee .con{
    padding-top: 10px;
    padding-bottom:10px 
 }
 .add-employee .con h5{
     padding-top: 5px;
    text-align:  center;
    color:#fff 
 }
 .add-employee .con h2{
    position: relative;
   text-align:  center;
   color:#fff 
}
.add-employee .con h2:after{
  content: "" ;
  width:100px;
  height: 3px;
  color:#fff;
  text-align: center;
  display: block;
  position: absolute;
  top:60px;
  border-bottom: 2px solid #fff;
  text-align: center;
  left: 45%;
  

 }
 .add-employee form{
    background-color: #fff;
    padding :70px 50px;
    margin:50px ;
    
}
.add-employee form .input-group-addon {
    border:1px solid black;
    border-right: none;
    border-radius: 0px;
    padding: 7px;
}
 
.add-employee form input ,.con form  select{
    border:1px solid black;
    border-radius: 0px
    
}
 
.add-employee form input:focus ,.con form select:focus{
    border:1px solid #FF8C00;
    border-radius: 0px
}
.add-employee form button{
    background-color: #FF8C00;
    color: white;
     padding: 7px;
    border:2px solid #FF8C00;
     
     transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
}
.add-employee form button:hover{
    background-color: #fff;
    color: #FF8C00;
    padding: 7px;
    border:2px solid #FF8C00;
    
}
.add-employee form [type="radio"]:checked,
.add-employee form [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.add-employee form [type="radio"]:checked + label,
.add-employee form [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
.add-employee form [type="radio"]:checked + label:before,
.add-employee form [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height:25px;
    border: 1px solid black;
    border-radius: 100%;
    background: #fff;
}
.add-employee form [type="radio"]:checked + label:after,
.add-employee form [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 17px;
    height: 17px;
    background: #FF8C00;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.add-employee form [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.add-employee form [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.add-employee form .rd {
    border:1px solid black;
    
   
}
/*custom file-input*/
.add-employee form .custom-file{
     height: 40px;
      position: relative;
      border:1px solid black;
   
}
.add-employee form input[type="file"]{
     
    height: 40px;
    opacity: 0;
    top:0;
    left: 0;
    z-index: 3;
    position: absolute
}
 

.add-employee form .custom-file:after{
    content:'upload Image';
    color:black;
    width:100%;
    height: 40px;
    position: absolute;
    top:0;
    right: 0;
    line-height: 30px;
    text-align: center;
    font-family: tahoma,arial;
}

.add-employee form .input-group-append{
    height: 41px;
}
@media (max-width:576px){
    .add-employee form{
        margin:50px 5px;
        padding :70px 10px;
     
        
    }
    .add-employee .con h2:after{
        
        left: 35%;
       
       }
}
/*=============================================================*/
.add-student{
    background-color:#B22222;
    
}
.add-student .con{
   padding-top: 10px;
   padding-bottom:10px 
}
.add-student .con h5{
    padding-top: 5px;
   text-align:  center;
   color:#fff 
}
.add-student .con h2{
   position: relative;
  text-align:  center;
  color:#fff 
}
.add-student .con h2:after{
 content: "" ;
 width:100px;
 height: 3px;
 color:#fff;
 text-align: center;
 display: block;
 position: absolute;
 top:60px;
 border-bottom: 2px solid #fff;
 text-align: center;
 left: 45%;
 

}
.add-student form{
   background-color: #fff;
   padding :70px 50px;
   margin:50px ;
   
}
.add-student form .input-group-addon {
   border:1px solid black;
   border-right: none;
   border-radius: 0px;
   padding: 7px;
}

.add-student form input ,.con form  select{
   border:1px solid black;
   border-radius: 0px
   
}

.add-student form input:focus ,.con form select:focus{
   border:1px solid #B22222;
   border-radius: 0px
}
.add-student form button{
   background-color: #B22222;
   color: white;
    padding: 7px;
   border:2px solid #B22222;
    
    transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
}
.add-student form button:hover{
   background-color: #fff;
   color: #B22222;
   padding: 7px;
   border:2px solid #B22222;
   
}

.add-student form [type="radio"]:checked,
.add-student form [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.add-student form [type="radio"]:checked + label,
.add-student form [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}
.add-student form [type="radio"]:checked + label:before,
.add-student form [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height:25px;
    border: 1px solid black;
    border-radius: 100%;
    background: #fff;
}
.add-student form [type="radio"]:checked + label:after,
.add-student form [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 17px;
    height: 17px;
    background: #B22222;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.add-student form [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.add-student form [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.add-student form .rd {
    border:1px solid black;
    
   
}

/*custom file-input*/
.add-student form .custom-file{
    height: 40px;
     position: relative;
     border:1px solid black;
  
}
.add-student form input[type="file"]{
    
   height: 40px;
   opacity: 0;
   top:0;
   left: 0;
   z-index: 3;
   position: absolute
}


.add-student form .custom-file:after{
   content:'upload Image';
   color:black;
   width:100%;
   height: 40px;
   position: absolute;
   top:0;
   right: 0;
   line-height: 30px;
   text-align: center;
   font-family: tahoma,arial;
}

.add-student form .input-group-append{
   height: 41px;
}
@media (max-width:576px){
   .add-student form{
       margin:50px 5px;
       padding :70px 10px;
    
       
   }
   .add-student .con h2:after{
       
       left: 35%;
      
      }
}

/*=============================================================*/
.add-product{
    background-color:#008000;
    
}
.add-product .con{
   padding-top: 10px;
   padding-bottom:10px 
}
.add-product .con h5{
    padding-top: 5px;
   text-align:  center;
   color:#fff 
}
.add-product .con h2{
   position: relative;
  text-align:  center;
  color:#fff 
}
.add-product .con h2:after{
 content: "" ;
 width:100px;
 height: 3px;
 color:#fff;
 text-align: center;
 display: block;
 position: absolute;
 top:60px;
 border-bottom: 2px solid #fff;
 text-align: center;
 left: 45%;
 

}
.add-product form{
   background-color: #fff;
   padding :70px 50px;
   margin:50px ;
   
}
.add-product form .input-group-addon {
   border:1px solid black;
   border-right: none;
   border-radius: 0px;
   padding: 7px;
}

.add-product form input ,.con form  select,.con form  textarea{
   border:1px solid black;
   border-radius: 0px
   
}

.add-product form input:focus ,.con form select:focus, .con form textarea:focus{
   border:1px solid #008000;
   border-radius: 0px
}
.add-product form button{
   background-color: #008000;
   color: white;
    padding: 7px;
   border:2px solid #008000;
    
    transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
}
.add-product form button:hover{
   background-color: #fff;
   color: #008000;
   padding: 7px;
   border:2px solid #008000;
   
}


.add-product form .rd {
    border:1px solid black;
    
   
}

/*custom file-input*/
.add-product form .custom-file{
    height: 40px;
     position: relative;
     border:1px solid black;
  
}
.add-product form input[type="file"]{
    
   height: 40px;
   opacity: 0;
   top:0;
   left: 0;
   z-index: 3;
   position: absolute
}


.add-product form .custom-file:after{
   content:'upload Image';
   color:black;
   width:100%;
   height: 40px;
   position: absolute;
   top:0;
   right: 0;
   line-height: 30px;
   text-align: center;
   font-family: tahoma,arial;
}

.add-product form .input-group-append{
   height: 41px;
}
@media (max-width:576px){
    .add-product form{
       margin:50px 5px;
       padding :70px 10px;
    
       
   }
   .add-product .con h2:after{
       
       left: 35%;
      
      }
}

/*=============================================================*/
.color-wrapper {
    position: relative;
    width: 250px;
    margin-top: 20px ;
    margin-bottom: 20px ;
}

.color-wrapper label {
    margin-bottom: 5px;
}

input.call-picker {
    border: 1px solid #AAA;
    color: #666;
    text-transform: uppercase;
    float: left;    
    outline: none;
  padding: 10px;
  text-transform: uppercase;
  width: 85px;
}

.color-picker {
    width: 180px;
    background: #F3F3F3;
    height: 90px;
    padding: 5px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 3px 1px #DDD;
    position: absolute;
    top: 0px;
    left: 150px;
}
@media (max-width:388px){
    .color-picker {
        width: 140px;
       height: 80px;
     }
 }

.color-holder {
  background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
    width: 40px;
    height: 50px;
    float: left;
    margin-left: 5px;
}

.color-picker .color-item {
    cursor: pointer;
    width: 10px;
    height: 10px;
    list-style-type: none;
    float: left;
    margin: 2px;
    border: 1px solid #DDD;
}

.color-picker .color-item:hover {
    border: 1px solid #666;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
}
/*==============================================================*/
.modal .modal-content .modal-footer button{
    color: white;
    padding: 7px;
    transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;}
.modal .modal-content .modal-footer button:hover{
    background-color: #fff;
   
}
.modal .modal-content .modal-footer a{
    color: white;
    padding: 7px;
    
    transition: all .5s ease-in-out;
   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;}
.modal .modal-content .modal-footer a:hover{
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
   
}
 .employee-button{
    background-color: #FF8C00;
     border:2px solid #FF8C00;

 }
 .employee-button:hover{
  border:2px solid #FF8C00;
   color: #FF8C00;
 }

 .student-button{
    background-color: #B22222;
  border:2px solid #B22222;
     
     }
 .student-button:hover{
     color: #B22222;
     border:2px solid #B22222;
 }

 .product-button{
    background-color: #008000;;
     border:2px solid #008000;;
 
 }
 .product-button:hover{
    color: #008000;;
    border:2px solid #008000;;
 }


 .modal .modal-body img{
   width:100%;
 
 }
 /*============================================================*/
 table { 
    width: 100%; 
    border-collapse: collapse; 
    padding: 0px;
    
   }
  table tbody tr td  img{ 
    border-radius: 50%
  }
  table tbody tr th:not(:last-of-type) { 
    border-right:  1px solid #ccc; 
  }
  table tbody tr td:not(:last-of-type) { 
    border-right:  1px solid #ccc; 
  }
  table tbody tr th { 
    color: black; 
    font-weight: bold;
    text-align: center; 
    padding:6px 0px;
   }

  table tbody tr td{ 
  color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px }

.employee-operation table tbody tr th { 
    background-color: #fde7d9;
    border-bottom:  2px solid #FF8C00; 
 
 }
.student-operation table tbody tr th { 
    background-color: #fdd9d9;
     border-bottom:  2px solid #B22222;
  
  }
  .product-operation table tbody tr th { 
    background-color: #dcfacf;
    border-bottom:  2px solid #008000;
  
  }

 

  .employee-operation table tbody tr:nth-of-type(odd)  td{ 
    background-color: #fde7d9;
     border-bottom:  2px solid #FF8C00; 
     color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
    }
  
  .employee-operation table tbody tr:nth-of-type(even) td{ 
    background: #fff;
  border-bottom:  2px solid #FF8C00; 
  color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
  }

  .student-operation table tbody tr:nth-of-type(odd)  td{ 
    background-color: #fdd9d9;
   border-bottom:  2px solid #B22222;
   color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
   }
  .student-operation table tbody tr:nth-of-type(even) td{ 
    background: #fff;
    border-bottom:  2px solid #B22222;
    color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
  }
  

 
  .product-operation table tbody tr:nth-of-type(odd)  td{ 
    background-color: #dcfacf;
     border-bottom:  2px solid #008000;
     color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
     }
  
  .product-operation table tbody tr:nth-of-type(even) td{ 
    background: #fff;
     border-bottom:  2px solid #008000;
     color: black; 
  font-weight: bold;
  text-align: center; 
  padding: 6px 0px
  }

  

 .employee-operation .card-header{
    background-color:  #FF8C00;
    text-align: center
 }

 .student-operation .card-header{
    background-color:  #B22222;
    text-align: center
 }

 .product-operation .card-header{
    background-color:   #008000;
    text-align: center
 }


 
  @media(max-width: 870px)
 
  
 {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block;
      
	}
    
    td,th{
        height: 70px;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	tbody tr:first-child { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
    
   table tbody tr:nth-of-type(odd)  td{ 
    text-align:center ;
    padding-left: 5px;
 
   }
  table tbody tr:nth-of-type(even) td{ 
     text-align:center ;
     padding-left: 5px;
     
   }

   table tbody tr td:nth-of-type(5){ 

    padding-left: 23px;
  }

   table tbody tr td:nth-of-type(4){ 
text-align: right
  }
    tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
       
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
        padding-right: 10px; 
        text-align: left;
        white-space: nowrap;
      
	}
	
	/*
	Label the data
    */
    .employee-operation td:nth-of-type(1):before,.student-operation td:nth-of-type(1):before { content: " Image      :"; }
    .employee-operation td:nth-of-type(2):before,.student-operation td:nth-of-type(2):before { content: " FirstName  :"; }
    .employee-operation td:nth-of-type(3):before,.student-operation td:nth-of-type(3):before  { content: " LastName   :"; }
    .employee-operation td:nth-of-type(4):before,.student-operation td:nth-of-type(4):before { content: " Email      :"; }
    .employee-operation td:nth-of-type(5):before,.student-operation td:nth-of-type(5):before  { content: " PhoneNum   :"; }
    .employee-operation td:nth-of-type(6):before,.student-operation td:nth-of-type(6):before  { content: " Birthday   :"; }
    .employee-operation td:nth-of-type(7):before,.student-operation td:nth-of-type(7):before  { content: " Country    :"; }
    .employee-operation td:nth-of-type(8):before,.student-operation td:nth-of-type(8):before  { content: " Gender     :"; }
    .employee-operation td:nth-of-type(9):before,.student-operation td:nth-of-type(9):before { content: " Operation  :"; }
   
    .product-operation td:nth-of-type(1):before { content: " Image      :"; }
    .product-operation td:nth-of-type(2):before { content: " Name       :"  ;}
    .product-operation td:nth-of-type(3):before { content: " Quantity       :"  ;}
	.product-operation td:nth-of-type(4):before { content: " Price      :"; }
	.product-operation td:nth-of-type(5):before { content: " Color      :"; }
	.product-operation td:nth-of-type(6):before { content: " Status   :"; }
	.product-operation td:nth-of-type(7):before { content: " Description   :"; }
	.product-operation td:nth-of-type(8):before { content: " Operation  :"; }
   
 
  
}